@import "./mixin.scss";
@import"./variables.scss";
.footer-container {
  //   border: solid 2px white;
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: 20%;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  ul {
    display: flex;
    align-items: baseline;
    list-style: none;
    li a {
      padding: 10px 30px;
      font-size: 1rem;
      color: white;
      text-decoration: none;
      @include pointer;
      .footer__icon{
          height: 1rem;
      }
    }
    li a:hover {
        color: $red;
    }
  }
}
