@import "./mixin.scss";
@import "./variables.scss";
.body__header {
  height: 20vh;
  display: flex;
  align-items: center;
  .header-container {
    //   border: solid 2px white;
    margin: auto;
    width: 70%;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    ul {
      display: flex;
      align-items: baseline;
      list-style: none;
      color: white;
      li a {
        padding: 10px 30px;
        color: white;
        text-decoration: none;
        @include pointer;
      }
    }
    .header__left {
      font-size: 3rem;
      .header__logo {
        height: 66px;
      }
    }
    .header__right {
      font-size: 2.2rem;
      li a:hover {
        color: $red;
      }
    }
  }
}
