.nav-flex-container {
    display: flex;
    flex-direction: row;
    background-color: lightgray;
    justify-content: space-around;
    h1 {
        color:#4088da;
        font-size: 4em;
    }
    nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        min-height: 10vh;
        ul {
            display: flex;
            list-style: none;
            li {
                padding: 1.5em;
                cursor: pointer;
            }
        }
    }
}